:root{
    --text-color:#f1c40f;
    --main-family:'Open Sans', sans-serif;

}

*{
    margin: 0;
    padding: 0;
}


.navbar-bg{
    background-color: #34495e;
    width:100%;
   

}

.navbar-welcome-text{
    margin-left: auto;
    margin-right: 2px;
    display: block;
    color:var(--text-color);
}

.support--oward-a{
    width: 600px;
}

@media only screen and (max-width: 75em) {
    /* sm tablet */
  
     .navbar-welcome-text{
         font-size: 15px;
     }
  
  }
    
     
   
  
  
   @media only screen and (max-width: 56.25em) {
   
          /* xs  */
    
          .navbar-welcome-text{
              display: none;
          }
        
  
         
          .green-heading{
              font-size: 28px;
              margin:0 auto;
          }
         
      
   
  
  
     }